
<style>
.nav-container{
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  z-index: 9999;
  background-color: white;
  width: 100%;
}

h4 {
  text-align: center;
  margin: 6px 0 0 0;
}

.icon-text-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}


</style>

<main class="nav-container">
   

    <a class="icon-text-flex">
      <img src="assets\icons\target-arrow-svgrepo-com.svg" alt="">
      <h4>Daily</h4>
    </a>

    <a class="icon-text-flex">
      <img style="transform: scale(1.1);" src="assets\icons\compas-svgrepo-com.svg" alt="">
      <h4>Venture</h4>
    </a>

    <a class="icon-text-flex">
      <img src="assets\icons\house-svgrepo-com.svg" alt="">
      <h4>Home</h4>
    </a>

    <a class="icon-text-flex">
      <img src="assets\icons\message-square-lines-svgrepo-com (1)-cropped.svg" alt="">
      <h4>Social</h4>
    </a>

    <a class="icon-text-flex">
      <img style="transform: scale(1.2);" src="assets\icons\person-crop-square-svgrepo-com.svg" alt="">
      <h4 style="color:#4abdc7;">Profile</h4>
    </a>
</main>

<router-outlet />
