/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}



main {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    padding: 8px !important;
  }

